@import "../../../sass/base/base.scss";

.background {
	padding: 20px;

	background-color: $bg-light;
	border-radius: 30px;
	box-shadow: $content-shadow-light;

	display: flex;
	flex-direction: column;
}
