@import "/src/sass/base/reset.scss";
@import "/src/sass/utils/mixins.scss";
@import "/src/sass/utils/variables.scss";

* {
	transition: 200ms;
	transition-property: transform;

	scrollbar-color: $sub-light;
	scrollbar-width: thin;
}

html {
	@include desk {
		height: 100vh;
		max-height: 100vh;
	}

	&::-webkit-scrollbar {
		background: $sub-light;
		width: thin;
	}

	&::-webkit-scrollbar-track {
		background: $sub-light;
	}
}

body {
	font-family: Roboto;

	@include desk {
		height: 100vh;
		max-height: 100vh;
	}
}

#root {
	@include desk {
		height: 100vh;
		max-height: 100vh;
	}
	display: flex;
	flex-direction: column;
}

@supports not selector(::-webkit-scrollbar) {
	html {
		scrollbar-width: thin;
		scrollbar-color: var(--thumb-color) var(--track-color);
	}
}
