@import "/src/sass/base/reset.scss";
@import "/src/sass/utils/mixins.scss";
@import "/src/sass/utils/variables.scss";

* {
	transition: 200ms;
	transition-property: transform;

	scrollbar-color: $sub-light;
	scrollbar-width: thin;

	::-webkit-scrollbar {
		width: thin;
	}

	::-webkit-scrollbar-track {
		background: $sub-light;
	}
}

html {
	max-height: 100vh;
}

body {
	font-family: Roboto;
	max-height: 100vh;
}

#root {
	max-height: 100vh;
}
