$bg-light: #ffffff;
$fg-light: #000000;
$accent-light: #ff751d;

$disabled-light: #ff751d88;

$top-light: #f5f6fb;
$sub-light: #52555f;
$body-top-light: #F2F5FC;

$button-bg-light: #f5f6fb;
$button-fg-light: #52555f;

$input-bg-light: #f6f7fb;
$input-fg-light: #a6abb9;

////

$bg-dark: #2f2f2f;
$fg-dark: #ffffff;
$accent-dark: #ff751d;

$top-dark: #323232;
$sub-dark: #e0e0e0;

$button-bg-dark: #323232;
$button-fg-dark: #ffffff;

$input-bg-dark: #36373b;
$input-fg-dark: #ffffff;

////

$avatar-bg: #f5f6fa;
