@import "/src/sass/base/base.scss";

.analytics {
	position: relative;

	margin: 20px 0;

	flex: 1;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;

	& > div {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__top-wrap {
		width: 320px;

		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 25px;

		@include tab {
			width: 436px;
		}

		@include desk {
			width: 1060px;

			display: grid;
			grid-template-columns: 1fr auto 1fr;
			align-items: center;
		}
	}

	&__back {
		position: absolute;
		top: 0;
		left: 20px;

		@include typography(inherit, 400, 12px, 4%, right);
		color: rgba($sub-light, 70%);

		display: flex;
		align-items: center;
		gap: 15px;

		&__icon {
			width: 20px;
			height: 20px;
			color: rgba($sub-light, 70%);
		}

		&__text {
			display: none;

			@include typography(inherit, 400, 12px, 4%, right);
			color: rgba($sub-light, 70%);
		}
	}

	&__month,
	&__mode {
		width: 160px;

		display: flex;
        justify-content: space-between;
		align-items: center;
		gap: 15px;

		@include typography(inherit, 700, 14px, 2%, center);
		text-transform: uppercase;


		&__decrement,
		&__increment {
			width: 28px;
			height: 28px;

			display: flex;
			justify-content: center;
			align-items: center;

			background-color: transparent;

			&__icon {
				display: block;
				height: 100%;

				color: $accent-light;
			}
		}
	}

	&__summary {
		width: 100%;

		display: flex;
		align-items: center;

		border-radius: 20px;
		box-shadow: $content-shadow-light;

		background-color: $bg-light;

		&__expenses {
			width: 50%;
			padding: 20px;

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 5px;

			border-right: 1px solid #e0e5eb;

			&__title {
				@include typography(inherit, 700, 14px, 0%, center);
				color: $sub-light;
			}

			&__sum {
				@include typography(inherit, 700, 14px, 4%, center);
				color: #e53935;
			}
		}

		&__income {
			width: 50%;
			padding: 20px;

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 5px;

			&__title {
				@include typography(inherit, 700, 14px, 0%, center);
				color: $sub-light;
			}

			&__sum {
				@include typography(inherit, 700, 14px, 4%, center);
				color: #407946;
			}
		}
	}

	&__bottom-wrap {
		padding: 20px 0;

		display: flex;
		flex-direction: column;
		align-items: center;

		box-shadow: $content-shadow-light;

		background-color: $bg-light;
	}

	&__categories {
		width: 100%;

		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

		&__item {
			width: 30%;
			padding: 20px 0;

			display: flex;
			flex-direction: column;
			gap: 15px;

			border-bottom: 1px solid #e0e5eb;

			@include typography(inherit, 500, 12px, 2%, center);
			text-transform: uppercase;
			color: $sub-light;
		}
	}
}

.add-button {
	position: fixed;
	bottom: 20px;
	right: 20px;

	z-index: 3;

	width: 44px;
	height: 44px;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 50%;

	@include typography(inherit, 400, 20px, 2%, center);

	background-color: $accent-light;
	color: $bg-light;
	box-shadow: $button-shadow-light;
}

@include tab() {
	.analytics {
		margin: 30px 0;
		gap: 30px;

		&__back {
			position: static;

			grid-column: 1;
			justify-self: start;

			&__text {
				display: block;
			}
		}
	}
}

@include desk() {
	.analytics {
		margin: 40px 0;
		gap: 40px;
	}

	.add-button {
		display: none;
		pointer-events: none;
		opacity: 0;
	}
}
