@import "../../sass/base/base.scss";

.container {
	width: 100%;
	margin: 0 auto;
	outline: 1px solid blue;

	@include mob {
		width: 320px;
	}

	@include tab {
		width: 436px;
	}

	@include desk {
		width: 1060px;
	}
}
