@import "/src/sass/base/base.scss";

.operation-form {
	position: fixed;
	top: 0;
	left: 0;

	z-index: 2;

	transform: translateX(100vw);

	width: 100vw;
	height: 100vh;

	margin-bottom: 30px;
	padding: 20px;

	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 20px;

	background-color: $bg-light;

	&.visible {
		transform: translateX(0);
	}

	&__date-wrap {
		display: flex;
		align-items: center;
	}

	&__calendar {
		display: block;
		width: 20px;
		height: 20px;
		color: $sub-light;
	}

	&__date-input {
		height: 45px;
		padding: 10px;

		@include typography(inherit, 900, 12px, 4%, uppercase);
		color: $sub-light;

		&::placeholder {
			@include typography(inherit, 400, 12px, 2%, uppercase);
			color: #c7ccdc;
		}
	}

	&__input-wrap {
		display: flex;
		flex-direction: column;
		gap: 1px;
	}

	&__input {
		height: 45px;
		padding-left: 20px;

		@include typography(inherit, 900, 12px, 4%, uppercase);
		color: $sub-light;

		outline: 1px solid #c7ccdc;

		&--error {
			outline: 1px solid $accent-light;
		}

		&::placeholder {
			@include typography(inherit, 400, 12px, 2%, uppercase);
			color: #c7ccdc;
		}

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		&[type="number"] {
			appearance: textfield;
			-moz-appearance: textfield;
		}
	}

	&__button-wrap {
		height: 45px;
        margin-left: 0;

		display: flex;
		gap: 15px;
	}

	&__submit,
	&__reset {
		height: 45px;
        width: 125px;

		border-radius: 16px;

		@include typography(inherit, 700, 12px, 2%, center);
		text-transform: uppercase;
	}

	&__submit {
		background-color: $accent-light;
		color: #ffffff;

		&:disabled {
			background-color: $disabled-light;
		}
	}

	&__reset {
		border: 1px solid #c7ccdc;
		background-color: transparent;
		color: $button-fg-light;
	}
}

@include desk() {
	.operation-form {
		position: static;
		transform: unset;
		padding: 0;

		height: 45px;

		margin-bottom: 59px;

		flex-direction: row;
		align-items: center;
		gap: 0;

		background-color: unset;

		&__date-input {
			width: 95px;
			height: 100%;
		}

		&__input-wrap {
			width: 601px;
			height: 100%;

			flex-direction: row;
			flex-wrap: nowrap;
		}

		&__input {
			height: 100%;

			&:first-child {
				border-radius: 16px 0 0 16px;
			}

			&:last-child {
				border-radius: 0 16px 16px 0;
			}
		}

		&__button-wrap {
			margin-left: 27px;
		}

		&__submit {
			width: 125px;
			height: 100%;
		}

		&__reset {
			width: 125px;
			height: 100%;
		}
	}
}
