@import "/src/sass/base/base.scss";

.operation-form {
	height: 45px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__calendar {
		width: 20px;
		height: 20px;
		color: $sub-light;
	}

	&__input-wrap {
		width: 601px;
		height: 100%;
		display: flex;
	}

	&__date-input {
		height: 100%;
		width: 95px;
		padding: 10px;

		display: flex;
		justify-content: center;
		align-items: center;

		@include typography(inherit, 900, 12px, 4%, uppercase);
		vertical-align: middle;
		color: $sub-light;

		&::placeholder {
			@include typography(inherit, 400, 12px, 2%, uppercase);
			vertical-align: middle;
			color: #c7ccdc;
		}
	}

	&__input {
		height: 100%;
		padding-left: 20px;

		@include typography(inherit, 900, 12px, 4%, uppercase);
		vertical-align: middle;
		color: $sub-light;

		&:first-child {
			border-radius: 16px 0 0 16px;
		}

		&:last-child {
			border-radius: 0 16px 16px 0;
		}

		outline: 1px solid #c7ccdc;

		&--error {
			outline: 1px solid $accent-light;
		}

		&::placeholder {
			@include typography(inherit, 400, 12px, 2%, uppercase);
			vertical-align: middle;
			color: #c7ccdc;
		}

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		&[type="number"] {
			appearance: textfield;
			-moz-appearance: textfield;
		}
	}

	&__submit {
		width: 125px;
		height: 100%;
		margin-left: 27px;

		border-radius: 16px;

		@include typography(inherit, 700, 12px, 2%, center);
		text-transform: uppercase;
		background-color: $accent-light;
		color: #ffffff;

		&:disabled {
			background-color: $disabled-light;
			color: #ffffff;
		}
	}

	&__reset {
		width: 125px;
		height: 100%;
		margin-left: 15px;

		border-radius: 16px;

		@include typography(inherit, 700, 12px, 2%, center);
		text-transform: uppercase;
		border: 1px solid #c7ccdc;
		background-color: transparent;
		color: $button-fg-light;
	}

	margin-bottom: 59px;
}
