@import "/src/sass/base/base.scss";

body {
	margin: 0;
	background: url("./img/background.png") no-repeat;
	background-position: bottom;
	background-size: 100%;
	position: relative;
}

body::before {
	content: "";
	position: fixed;
	inset: 0 0 auto 0;

	height: 583px;

	border-bottom-left-radius: 60px;

	z-index: -1;
}

body::before {
	background-image: url("/src/img/background.png"), linear-gradient($top-light);
	background-repeat: no-repeat, no-repeat;
    background-size: 100%, 100%;
    background-position: top, top;
}
