@import "/src/sass/base/base.scss";

.operations {
	display: flex;
	gap: 30px;
	height: fit-content;

	.scroll-wrap {
		position: relative;
		height: 400px;

		border-radius: 20px 20px 0 0;
		overflow: hidden auto;

		overflow-y: scroll;
	}
}

.operations-table {
	width: 760px;
	height: fit-content;

	border-collapse: separate;
	border-spacing: 0;

	& thead th {
		position: sticky;
		top: 0;
		z-index: 1;

		background-color: $top-light;
		color: $fg-light;
	}

	& td {
		height: 40px;
		padding: 0 20px;

		@include typography(inherit, 400, 12px, 4%, _);

		color: $sub-light;

		border-bottom: 2px solid $top-light;

		&:first-child {
			border-left: 2px solid $top-light;
		}

		&:last-child {
			border-right: 2px solid $top-light;
		}
	}

	& th {
		height: 40px;
		padding: 0 20px;

		@include typography(inherit, 700, 12px, 2%, left);
		text-transform: uppercase;

		background-color: $top-light;
	}

	.sum {
		@include typography(inherit, 700, 12px, 4%, right);

		&--plus {
            color: #407946;
		}

		&--minus {
			color: #e7192e;
		}
	}

	.delete {
		width: 72px;
		&__button {
			width: 32px;
			height: 32px;

			display: flex;
			justify-content: center;
			align-items: center;

			background-color: transparent;

			&__icon {
				fill: $sub-light;
				width: 18px;
				height: 18px;
			}
		}
	}
}

.summary {
	width: 230px;

	&__title {
		position: sticky;
		top: 0;
		z-index: 1;

		padding: 14px 0;
		border-radius: 20px 20px 0 0;

		@include typography(inherit, 700, 12px, 2%, center);
		vertical-align: middle;
		text-transform: uppercase;

		background-color: $top-light;
	}

	&__item {
		height: 40px;
		padding: 14px 20px;

		display: flex;
		justify-content: space-between;
		align-items: center;

		@include typography(inherit, 400, 12px, 4%, _);
		text-transform: uppercase;

		background-color: $top-light;
		color: $sub-light;
		border-top: 2px solid $bg-light;

		&:last-child {
			border-radius: 0 0 20px 20px;
		}
	}
}
