@import "/src/sass/base/base.scss";

.operations {
	display: flex;
	gap: 30px;
	height: fit-content;
}

.operations-table {
	width: 760px;
	height: fit-content;

	overflow: scroll;

	border-collapse: separate;
	border-spacing: 0;

	& thead th {
		background-color: $top-light;
		color: $fg-light;

		&:first-child {
			border-top-left-radius: 20px;
		}

		&:last-child {
			border-top-right-radius: 20px;
		}
	}

	& td {
		height: 40px;
		padding: 0 20px;

		@include typography(inherit, 400, 12px, 4%, _);

		color: $sub-light;

		border-bottom: 2px solid $top-light;

		&:first-child {
			border-left: 2px solid $top-light;
		}

		&:last-child {
			border-right: 2px solid $top-light;
		}
	}

	& th {
		height: 40px;
		padding: 0 20px;

		@include typography(inherit, 700, 12px, 2%, left);
		text-transform: uppercase;

		background-color: $top-light;
	}

	.delete {
		&__button {
			width: 32px;
			height: 32px;

			background-color: transparent;
			&__icon {
				fill: $sub-light;
			}
		}
	}
}

.summary {
	width: 230px;

	&__title {
		padding: 14px 0;
		border-radius: 20px 20px 0 0;

		@include typography(inherit, 700, 12px, 2%, center);
		vertical-align: middle;
		text-transform: uppercase;

		background-color: $top-light;
	}

	&__item {
		height: 40px;
		padding: 14px 20px;

        display: flex;
        justify-content: space-between;
        align-items: center;

		@include typography(inherit, 400, 12px, 4%, _);
		text-transform: uppercase;

		background-color: $top-light;
		color: $sub-light;
        border-top: 2px solid $bg-light;

        &:last-child {
            border-radius: 0 0 20px 20px;
        }
	}
}
